<div class="mb-8">
  <h2 class="text-4xl font-dynapuff font-bold text-left mb-6 tracking-wide flex justify-between items-center">SKILLS <span class="text-candyTan-800 uppercase text-2xl text-right">Proficiency Bonus : {{ character.proficiencyBonus.mod }}</span></h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    {% for ability in abilities %}
      <div class="bg-{{ ability.color }}-100 border-2 border-{{ ability.color }}-700 rounded-xl shadow p-2">
        <div class="text-3xl md:text-4xl font-dynapuff font-bold text-{{ ability.color }}-900 w-full text-left py-2">{{ ability.label }}</div>
        <div class="grid grid-cols-5 gap-2 items-start h-full">
          <div class="col-span-2 flex flex-col items-start w-full h-full justify-start">
            <div class="flex flex-col items-center w-full h-full">
              <div class="border-2 border-{{ ability.color }}-700 rounded-lg w-full text-7xl font-gaegu text-{{ ability.color }}-900 bg-{{ ability.color }}-100 h-4/6 flex items-center justify-center">{{ character[ability.key].score }}</div>
              <div class="border-2 border-{{ ability.color }}-700 rounded-full px-4 py-1 text-2xl font-gaegu text-{{ ability.color }}-900 bg-{{ ability.color }}-100 h-1/6 font-extrabold">{{ character[ability.key].mod }}</div>
            </div>
          </div>
          <div class="col-span-3 flex flex-col items-start justify-center w-full h-full ">
            {% if character[ability.key].savingThrow %}
              <div class="flex items-center gap-2 mb-2 w-full">
                <span class="font-black uppercase font-gaegu text-{{ ability.color }}-900">Saving Throw</span>
                <span class="border-2 border-{{ ability.color }}-700 rounded px-1 py-1 text-{{ ability.color }}-900 font-gaegu bg-{{ ability.color }}-100">{{ character[ability.key].savingThrow }}</span>
              </div>
            {% endif %}
            {% if character[ability.key].skills %}
              <ul class="space-y-1 h-full w-full">
                {% for skill in character[ability.key].skills %}
                  <li class="flex items-justify gap-2 w-full text-{{ ability.color }}-900">
                    <span class="font-gaegu font-bold">{{ skill.name }}</span>
                    <span class="border-2 border-{{ ability.color }}-700 rounded px-2 py-1 font-gaegu bg-{{ ability.color }}-100">{{ skill.mod }}</span>
                    {% if skill.proficient %}<span class="text-candyGold font-bold">★</span>{% endif %}
                    {% if skill.expert %}<span class="text-candyPurple font-bold">✦</span>{% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
  {% endfor %}
  </div>
</div>
